.container {
  padding: 20px 100px;

  &__search {
    text-align: center;

    .search-form {
      width: 60%;
      margin: 0 auto;
    }

    .answer-box {
      margin-top: 20px;

      &__item {
        padding: 20px 10px;
        border-radius: 15px;

        h3 {
          color: white;
          font-size: 15px;
          background-color: rgba(0, 0, 0, 0.3);
          padding: 10px;
          border-radius: 32px;
        }
      }

      .transparent {
        opacity: 0.5;
      }
    }
  }
}